*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color:black;
    
}
h2{
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    
}
.container{
    display: flex;

}
.container div{
    margin: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: blue;

}
.container span{
     width: 120px;
     height: 70px;
    background-color: rgb(169, 36, 184);
    opacity: 0.8;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}
.container .text{
    background-color: rgb(27, 14, 105);
    height: 30px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.8;
}
.container #ampm{
         bottom: 0;
         position: absolute;
         width: 60px;
         height: 30px;
         background-color: green;
         font-size: 20px;

}